<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to tag.com, <%= @user.firstname + "." + @user.lastname %>'s parent:</h1>
    <p>
      You have confirmed your child <%= @user.firstname + "." + @user.lastname %> to use tag.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
