<head>
  <%= stylesheet_link_tag "home" %>
</head>
<body>
    <div id="students">
        <div id="redcircle">
          <div id="profile">
              <div class="row">
                <div class="span4">
                  <h1><strong>Erin Parker</strong><span style="font-family: 'Quicksand';text-shadow:'0 0.05em 0 #ffffff';"> | Core Training </span></h1>
                </div>
                <div class="span3">
                  <img src="/assets/erin_parker.png">
                  <h4><strong>MENTOR PROFILE</strong></h4>
                  <p>Focus: Track & Weights</p>
                  <p>Age: 23</p>
                  <p><button class="btn" href="#">More Info &raquo;</button></p>
                  <p><button class="btn" href="#">Email this mentor &raquo;</button></p>
                  <br>
                  <p>A passionate long-distance runner and Stanford alum, Erin is dedicated to positively impacting the health & fitness of youths. Always up for working out, dancing, spontaneous adventures, her mantra is "never bend easy."</p>

                  <br>

                  <p>
                  Favorite Quote: "The only easy day was yesterday." - Navy SEAL Training</p>
                </div>
              </div>
          </div>
        </div>
      <div id="stu_menu1">MY TEAM</div>
      <div id="stu_menu2">MY CLASS</div>
      <div id="stu_menu3">EVENTS</div>
      <div id="gallery">MENTOR GALLERY
        <table style="margin-top:20px;">
          <tr>
            <td >
              <img src="/assets/erin_headshot.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/Evan_Morgan.jpg" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px;  margin-right:20px">
            </td>
            <td>
              <img src="/assets/marcus_rance.jpg" style="border:2px; border-color:#F0AB02; border-style:solid; width:100px; height:100px; margin-right:20px">
            </td>
            <td>
             <img src="/assets/AlexLapes.png" style="border:2px; border-color:#F0AB02; border-style:solid; width:100px; height:100px; margin-right:20px">
            </td>
          </tr>
          <tr>
            <td>
              <img src="/assets/hockey.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/frink.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/jamessatalich.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px;  margin-right:20px">
            </td>
            <td>
              <img src="/assets/clintsnyder.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
          </tr>
          <tr>
            <td>
              <img src="/assets/andrew.jpg" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/fencing.jpg" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/i2p.jpg" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
            <td>
              <img src="/assets/nickigross.png" style="border:2px; border-color:#F0AB02; border-style:solid;width:100px; height:100px; margin-right:20px">
            </td>
          </tr>
      </div>
    </div>
  </body>
</html>