<body>
    <div id="container">
      <h1 id="etching">THE ACTIVE GENERATION</h1>
        <div id="program">
        <h1>Our Program</h1>
        <h5>Our mission is to excite & empower students to lead healthier lives.</h5><h6>Through our pilot program, TAG will change the way new generations experience physical education in the U.S. primary school system.</h6>
        <h3>Where We Stand Today</h3>
        <table>
          <tr>
            <td><img src='/assets/program.png'></td>
          </tr>
        </table>
          <h2>A Developed Minimum Viable Product</h2>
          <h4>TAG Band (TM): Wearable Sensor ($6 per piece)</h4>
          <h4 style="margin-bottom:5px;">TAG Gateway(TM): The Website</h4>
            <ul>
              <li>Customizable Student Profile Setup</li>
              <li>P.E. Student Matching System</li>
              <li>Connected Class Network</li>
              <li><strong>Point-based Activity Feedback System based on:</strong></li>
            </ul>
          <p>Throughout the year, TAG helps students improve in each unit of their P.E. curriculum or in their personal fitness goals, regardless of skill level. Based on availability, ability, and geography, students will be paired into teams and will work together to achieve curriculum-based or self-identified fitness goals, utilizing their peers and our resources to promote and track their success to earn rewards.</p>
          <p>Maintaining a dual-focused user experience, TAG provides both students and teachers with the tools and tracking metrics to promote a healthier lifestyle—focusing on a secure, gamified, social  experience for students, and an easily integrable class engagement and tracking tool for teachers. </p>
      </div>
    </div>
  </body>
</html>