<body>
    <div id="container">
      <h1 id="etching">THE ACTIVE GENERATION</h1>
      <div id="featured">
        <div id="content">
        <h1>TAG: In The Press</h1>
        
      </div>
    </div>
  </body>
</html>