<body>
    <div id="container">
      <h1 id="etching">THE ACTIVE GENERATION</h1>
      <div id="featured">
        <div id="content">
		<h1>Our Team</h1>
          <table width="80%" style="margin-top:25px;margin-left:30px">
            <tr>
              <td><img src="/assets/jisha.png"></td>
              <td valign="top"><h2>Jisha Jacob</h2><h3>CEO & Founding Partner</h3><p>Jisha focuses on product development & design, strategic partnerships, and business development. Jisha is a 2011 Stanford graduate with a background in healthcare & technology entrepreneurship. </p>
              <p><strong>Favorite Activity:</strong> Dancing</p>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/char.png"></td>
              <td valign="top"><h2>Charmaine Tangonan</h2><h3>COO & Founding Partner</h3><p>Charmaine works on customer development, user feedback, marketing and press. Charmaine is a 2011 Stanford graduate with a background in community initiatives and sustainable design. </p>
              <p><strong>Favorite Activity:</strong> Soccer</p>
              </td>
            </tr>
          </table>
      </div>
  </body>
</html>