<h1>Sentbox</h1>

<table class="table">  
  <tbody>  
    <tr>
      <th>Subject</th>
      <th>  </th>
      <th>DateTime</th>
    </tr>
    <% @sentbox_mentor_messages.each do |mentor_message| %>
      <tr>
        <th><%= mentor_message.subject %></th>
        <th><%= link_to "Show", '/mentor_messages/' + "#{mentor_message.id}" %></th>
         <th><%= mentor_message.updated_at %></th>
      </tr> 
    <% end %>
  </tbody>
</table>  
