<h2>Admin Home</h2>

<div class="alert alert-error", style="color: #b94a48;background-color: #f2dede;border-color: #eed3d7;">
  <div>Dear Administrator, please manage foreign keys carefully :)</div>
</div>

<%= render 'form' %>
<%= link_to 'Readme', '/imports/readme' %></br>
<%= link_to 'Back', imports_path %></br>
