
    <h1>Student Activity Stream</h1>
    
    <ul>
    <li><h4>TeamKatniss attended the Beginner's Yoga Class at Lotus Studios.</h4></li>
    
    <li><h4>Twilighters added Katy Perry's "Wide Awake" to the Class Playlist.</h4></li>
	
    <li><h4>Beliebers watched Erin Parker's "Core Workout" video.</h4></li>
    
    <li><h4>2012Gleeks attended Ice Time Intermediate "Hockey Session."</h4></li>
    
    <li><h4>OneDirectioners became a Top TAG Team, with 429,028 points.</h4></li>

    <li><h4>KobeFans added Chris Brown's "Don't Wake Me Up" to the Class Playlist.
	</ul>
    <br>
