<h1>Student Information</h1>

  <!-- <div><%= @team.name %></div>
  <% if @teammate != nil %>
    <div><%= @teammate.firstname + "." + @teammate.lastname %></div>
  <% end %>
  <div><%= @team.sport.name %></div>
  <div><%= @team.sport_level.name %></div> -->
 <ul>
  <li><h4>Team Katniss</h4></li>
  <li><h4>Jisha Jacob and Charmaine Tangonan</h4></li>
  <li><h4>Team Sport: Football</h4></li>
  <li><h4>Team Level: Beginner</h4></li>
</ul>
